.react-md-container{
  display: flex;
  width: 100%;
  height: 100%;
  overflow: auto;
  flex-direction: column;
}

.react-md-editor-toolbar{
  padding: 6px 10px;
  border-bottom: 1px solid #eee;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  background: #fff;
}
.react-md-editor-toolbar .tool-bar-lists-left,
.react-md-editor-toolbar .tool-bar-lists-right{
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 12px;
  flex-wrap: wrap;
}
.react-md-editor-input .CodeMirror-lines{
  padding: 6px 10px 20px!important;
}

.tool-bar-setting{
  position: relative;
}
.tool-bar-setting:hover .setting-panel{
  display: block;
}
.tool-bar-setting .setting-panel{
  position: absolute;
  top: 24px;
  right: 0;
  background: #fff;
  z-index: 99;
  border: 1px solid #eee;
  white-space: nowrap;
  padding: 15px;
  display: none;
  font-size: 12px;
}

.setting-panel .panelItem{
  display: flex;
  align-items: center;
}

.react-md-editor-toolbar li{
  list-style: none;
  cursor: pointer;
  padding: 4px 8px;
  margin-right: 10px;
}

.react-md-editor-main{
  flex: 1;
  display: flex;
  overflow: auto;
}
.react-md-editor-preview,
.react-md-editor-input{
  flex: 1;
  height: 100%;
  overflow: auto;
  position: relative;
}
.CodeMirror{
  height: 100%!important;
  width: 100%;
}
.CodeMirror pre.CodeMirror-line{
  white-space: pre-wrap!important;
  word-break: break-all!important;
}
.preview-box {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  overflow: auto;
  background: #fff;
}
