html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: #fff;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}
.clearfix:after{
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.clearfix{
  zoom: 1;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
}

.page-enter-active, .page-leave-active {
  transition: opacity .8s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}
