#r-md-preview{
  padding: 15px 20px;
  box-sizing: border-box;
  color: #333;
  font-size: 14px;
  line-height: 24px;
  word-break: break-all;
}
#r-md-preview img{
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 6px;
}
#r-md-preview pre{
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #272822;
  color: #ddd;
  border-radius: 6px;
  margin: 1em 0;
}
#r-md-preview p{
  margin: 1em 0;
}
#r-md-preview li p{
  margin: 0;
}
#r-md-preview h1 code,
#r-md-preview h2 code,
#r-md-preview h3 code,
#r-md-preview h4 code,
#r-md-preview h5 code,
#r-md-preview h6 code{
  background-color: #fff5f5;
  color: #ff502c;
  padding: 2px 8px;
  font-weight: bold;
  border-radius: 3px;
  margin: 0 3px;
}
#r-md-preview h1,
#r-md-preview h2,
#r-md-preview h3,
#r-md-preview h4,
#r-md-preview h5,
#r-md-preview h6{
  display: block;
  font-weight: bold;
  border-bottom: 1px solid #ececec;
  padding-bottom: 10px;
}
#r-md-preview h1{
  font-size: 2em;
  margin: 0.67em 0;
}
#r-md-preview h2{
  font-size: 1.5em;
  margin: 0.83em 0;
}
#r-md-preview h3{
  font-size: 1.17em;
  margin: 1em 0;
}
#r-md-preview h4{
  margin: 1.33em 0;
}
#r-md-preview h5{
  font-size: 0.83em;
  margin: 1.67em 0;
}
#r-md-preview h6{
  font-size: 0.67em;
  margin: 2.33em 0;
}
#r-md-preview p > code,
#r-md-preview li > code{
  background-color: #fff5f5;
  color: #ff502c;
  padding: 2px 8px;
  font-weight: bold;
  border-radius: 3px;
  margin: 0 3px;
  font-style: italic;
}
#r-md-preview ul,
#r-md-preview ol{
  margin: 0;
  padding-left: 40px;
}
#r-md-preview li{
  padding: 8px 0;
  line-height: 24px;
}
#r-md-preview a{
  color: #0269c8;
  border-bottom: 1px solid #d1e9ff;
  margin: 0 5px;
  font-style: italic;
}
#r-md-preview iframe{
  width: 100%;
  border-radius: 8px;
  border: 1px solid #eee;
  /*height: inherit;*/
}
#r-md-preview blockquote{
  border-left: 3px solid rgba(0, 0, 0, 0.4);
  background: rgba(0, 0, 0, 0.05);
  padding: 10px 10px 10px 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 0;
}
#r-md-preview table {
  display: block;
  width: max-content;
  border-collapse: collapse;
  text-align: left;
  overflow: auto;
  max-width: 100%;
}

#r-md-preview table thead{
  background: #eee;
}
#r-md-preview table{
  min-width: 320px;
}
#r-md-preview table tr{
  border: 0;
  border-top: 1px solid #ccc;
}
#r-md-preview table th,
#r-md-preview table td{
  border: 1px solid #ccc;
  padding: 5px 10px;
  min-width: 85px;
}
#r-md-preview b,
#r-md-preview strong{
  font-weight: 7000;
}
